[Unit]
Description=Setup CAN0 interface
Before=boatgui.service
Requires=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ip link set can0 up type can bitrate 250000
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
