[Unit]
Description=Boat GUI Display
After=canup.service

[Service]
user=current
WorkingDirectory=/home/current/github/current-app/app
Environment=Display=:0
Environment=XAUTHORITY=/home/current/.Xauthority
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/current/github/current-app/app/.venv/bin/python /home/current/github/current-app.py/app/app.py
Restart=always
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
