[Unit]
Description=Boat GUI Display
After=canup.service

[Service]
Environment=Display=:0
Environment=XAUTHORITY=/home/current/.Xauthority
ExecStart=/usr/bin/python3 /home/current/github/current-app.py/app.py
WorkingDirectory=/home/current/github/current-app/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=current
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
